<div data-page="bgMusic" class="page" id="bgMusic">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">背景音乐</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="bgMusic_content" class="page-content">
		<div class="bgMusic">
			<div class="left-pannel">
				<p><label class="checkbox"><input type="checkbox" id="bgAreaCheckBoxId"><i class="icon-checkbox"></i><span>全部列表</span></label></p>
				<ul>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="1"><i class="icon-checkbox"></i><span>音乐选区1</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="2"><i class="icon-checkbox"></i><span>音乐选区2</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="3"><i class="icon-checkbox"></i><span>音乐选区3</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="4"><i class="icon-checkbox"></i><span>音乐选区4</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="5"><i class="icon-checkbox"></i><span>音乐选区5</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="6"><i class="icon-checkbox"></i><span>音乐选区6</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="7"><i class="icon-checkbox"></i><span>音乐选区7</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="8"><i class="icon-checkbox"></i><span>音乐选区8</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="9"><i class="icon-checkbox"></i><span>音乐选区9</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="10"><i class="icon-checkbox"></i><span>音乐选区10</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="11"><i class="icon-checkbox"></i><span>音乐选区11</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="12"><i class="icon-checkbox"></i><span>音乐选区12</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="13"><i class="icon-checkbox"></i><span>音乐选区13</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="14"><i class="icon-checkbox"></i><span>音乐选区14</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="15"><i class="icon-checkbox"></i><span>音乐选区15</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="16"><i class="icon-checkbox"></i><span>音乐选区16</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="17"><i class="icon-checkbox"></i><span>音乐选区17</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="18"><i class="icon-checkbox"></i><span>音乐选区18</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="19"><i class="icon-checkbox"></i><span>音乐选区19</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="20"><i class="icon-checkbox"></i><span>音乐选区20</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="21"><i class="icon-checkbox"></i><span>音乐选区21</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="22"><i class="icon-checkbox"></i><span>音乐选区22</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="23"><i class="icon-checkbox"></i><span>音乐选区23</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="24"><i class="icon-checkbox"></i><span>音乐选区24</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="25"><i class="icon-checkbox"></i><span>音乐选区25</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="26"><i class="icon-checkbox"></i><span>音乐选区26</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="27"><i class="icon-checkbox"></i><span>音乐选区27</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="28"><i class="icon-checkbox"></i><span>音乐选区28</span></label></li>
					
				</ul>
			</div>
			<div class="right-pannel">
				<div class="pannel-box">
					<div class="pannel-title">
						定时功能
					</div>
					<p class="bg-dark" style="margin-top: 30px;"><span>关闭</span><i class="iconfont icon-gouxuan-copy show-opacity"></i></p>
					<p><span>10分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p><span>20分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p><span>30分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p><span>1小时</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<div><input type="text" placeholder="自定义播放时间" readonly id="picker-date"><i class="iconfont icon-web-qianjin" id="pickerDateIconId"></i></div>
					<div><label id="pickerDateLabelId">定时结束后</label><input type="text" placeholder="停止播放" readonly id="picker-date2" style="text-align: right;float: right;"></div>
				</div>
				<div class="pannel-tool">
					<ul>
						<li>
							<i class="iconfont icon-yinliang"></i>
							<p><input type="range" min="10" max="100" step="1" value="50" data-rangeslider></p>
							<span class="my-rangeslider"></span><label>%</label>
						</li>
						<li>
							<div><img src="../../Image/Ipad/music_pre_open.png" /><img src="../../Image/Ipad/music_pre_down.png" /></div>
							<div><img src="../../Image/Ipad/music_stop.png" /><img src="../../Image/Ipad/audio_down.png" /></div>
							<div><img src="../../Image/Ipad/music_next_open.png" /><img src="../../Image/Ipad/music_next_down.png" /></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>