<div data-page="bgMusic" class="page" id="bgMusic">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">背景音乐</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="bgMusic_content" class="page-content">
		<div class="bgMusic">


			<div class="left-pannel">
				<ul class="list-header">
					<li class="row">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							名称
						</di>
						<di class="col-20">
							状态
						</di>
						<di class="col-30">
							音量
						</di>
					</li>
				</ul>
				<ul class="list-content">
					<li class="row" id="26">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							贵宾室1
						</di>
						<di class="col-20 sta-1" >
							正在播放
						</di>
						<di class="col-30 vioce" >
							30
						</di>
					</li>
					<li class="row"  id="28">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							贵宾室2
						</di> 
						<di class="col-20 sta-3">
							正在播放
						</di>
						<di class="col-30 vioce">
							30
						</di>
					</li>
					<li class="row"  id="30">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							茶室
						</di>
						<di class="col-20  sta-5">
							正在播放
						</di>
						<di class="col-30 vioce">
							30
						</di>
					</li>
					<li class="row"  id="27">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							日式料理
						</di>
						<di class="col-20  sta-2">
							正在播放
						</di>
						<di class="col-30 vioce">
							30
						</di>
					</li>
					<li class="row"  id="29">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							酒窖
						</di>
						<di class="col-20  sta-4">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="40">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							公共走廊(47F)
						</di>
						<di class="col-20  sta-15">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="31">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							高尔夫室
						</di>
						<di class="col-20  sta-6">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="36">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							乒乓球室
						</di>
						<di class="col-20  sta-11">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="37">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							台球室
						</di>
						<di class="col-20  sta-12">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="46">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							公共走廊(48F)
						</di>
						<di class="col-20  sta-21">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="35">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							棋牌室
						</di>
						<di class="col-20  sta-10">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="39">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							 客房外围(49F)
						</di>
						<di class="col-20  sta-14">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="48">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							 休闲区
						</di>
						<di class="col-20  sta-23">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="38">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							餐厅
						</di>
						<di class="col-20  sta-13">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="32">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							SPA1
						</di>
						<di class="col-20  sta-7">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="34">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							SPA2
						</di>
						<di class="col-20  sta-9">
							正在播放
						</di>
						<di class="col-30  vioce">
							30
						</di>
					</li>
					<li class="row"  id="33">
						<di class="col-20">
							<label class="checkbox">
								<input type="checkbox">
								<i class="icon-checkbox"></i>
							</label>
						</di>
						<di class="col-30">
							桑拿室
						</di>
						<di class="col-20  sta-8">
							正在播放
						</di>
						<di class="col-30 vioce">
							30
						</di>
					</li>

				</ul>
			</div>


			<div class="right-pannel">
				<div class="pannel-box">
					<div class="pannel-title">
						定时功能
					</div>
					<p num="0" class="bg-dark" style="margin-top: 30px;"><span>关闭</span><i class="iconfont icon-gouxuan-copy show-opacity"></i></p>
					<p num="10"><span>10分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="20"><span>20分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="30"><span>30分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="60"><span>1小时</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<div class="defineTime">
						<input type="text" placeholder="自定义播放时间" readonly id="picker-date"><i class="iconfont icon-web-qianjin" id="pickerDateIconId"></i></div>
					<div>
						<label id="pickerDateLabelId">定时结束后</label>
						<input type="text" placeholder="继续播放" readonly id="picker-date2" style="text-align: right;padding-right: 10%;">
						<i class="iconfont icon-web-qianjin" id="pickerDateIconId"></i
							>
						</div>
				</div>
				<div class="pannel-tool">
					<div class="pannel-right" >
							<ul>
								<li style="padding-bottom: 5px;">
									<i class="iconfont icon-yinliang"></i>
									<p class="range-slider range-slider-init">
									  <input type="range" min="0" max="100" step="1" value="50" >
									</p>
									<span class="my-rangeslider">50</span>
									
								</li>
							</ul>
						</div>
				</div>
				<div class="pannel-tool">
					
					<div class="pannel-right">
						<ul >
							
							<li>
								<div onclick="musicPre(this)"><img src="../../Image/Ipad/pre.png" /><img src="../../Image/Ipad/pre_down.png" /></div>
								<div onclick="musicCtr(this)" id="musicCtrol">
									<img src="../../Image/Ipad/stopmusic.png" />
									<img src="../../Image/Ipad/stopmusic_down.png" />
								</div>
								<div onclick="musicNext(this)"><img src="../../Image/Ipad/next.png" /><img src="../../Image/Ipad/next_down.png" /></div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>