<div data-page="bgMusic" class="page" id="bgMusic">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">背景音乐</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="bgMusic_content" class="page-content">
		<div class="bgMusic">
			<!-- <p id="aa">55555</p> -->
			<div class="left-pannel">
				<p><label class="checkbox"><input type="checkbox" id="bgAreaCheckBoxId"><i class="icon-checkbox"></i><span>全部列表</span></label></p>
				<ul>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="0" /><i class="icon-checkbox"></i><span>贵宾室1</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="1" /><i class="icon-checkbox"></i><span>贵宾室2</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="2" /><i class="icon-checkbox"></i><span>洗手间(48F)</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="3" /><i class="icon-checkbox"></i><span>日式料理</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="4" /><i class="icon-checkbox"></i><span>酒窖</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="5" /><i class="icon-checkbox"></i><span>公共走廊(47F)</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="6" /><i class="icon-checkbox"></i><span>高尔夫室</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="7" /><i class="icon-checkbox"></i><span>乒乓球室</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="8" /><i class="icon-checkbox"></i><span>台球室</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="9" /><i class="icon-checkbox"></i><span>公共走廊(48F)</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="10" /><i class="icon-checkbox"></i><span>棋牌室</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="11" /><i class="icon-checkbox"></i><span>公共走廊(49F)</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="12" /><i class="icon-checkbox"></i><span>休闲区</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="13" /><i class="icon-checkbox"></i><span>餐厅</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="14" /><i class="icon-checkbox"></i><span>SPA1</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="15" /><i class="icon-checkbox"></i><span>SPA2</span></label></li>
					<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="16" /><i class="icon-checkbox"></i><span>桑拿室</span></label></li>
				</ul>
			</div>
			<div class="right-pannel">
				<div class="pannel-box">
					<div class="pannel-title">
						定时功能
					</div>
					<p num="0" class="bg-dark" style="margin-top: 30px;"><span>关闭</span><i class="iconfont icon-gouxuan-copy show-opacity"></i></p>
					<p num="10"><span>10分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="20"><span>20分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="30"><span>30分钟</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<p num="60"><span>1小时</span><i class="iconfont icon-gouxuan-copy"></i></p>
					<div class="defineTime"><input type="text" placeholder="自定义播放时间" readonly id="picker-date"><i class="iconfont icon-web-qianjin" id="pickerDateIconId"></i></div>
					<div><label id="pickerDateLabelId">定时结束后</label><input type="text" placeholder="停止播放" readonly id="picker-date2" style="text-align: right;float: right;"></div>
				</div>
				<div class="pannel-tool">
					<div class="pannel-right" style="float: left;">
						<!--<p class="pannel-title">任务列表</p>-->
						<ul>
							<li>
								<i class="iconfont icon-yinliang"></i>
								<p class="range-slider range-slider-init">
								  <input type="range" min="0" max="100" step="1" value="50" >
								</p>
								<span class="my-rangeslider">50</span>
								
							</li>
						
							<!--<li class="check">任务1</li>
							<li>任务2</li>
							<li>任务3</li>
							<li>任务4</li>
							<li>任务5</li>
							<li>任务6</li>
							<li>任务7</li>
							<li>任务8</li>
							<li>任务9</li>
							<li>任务10</li>-->
						</ul>
					</div>
					<div class="pannel-right">
						<ul >
							
							<li>
								<div onclick="musicPre(this)"><img src="../../Image/Ipad/pre.png" /><img src="../../Image/Ipad/pre_down.png" /></div>
								<div onclick="musicCtr(this)" id="musicCtrol">
									<img src="../../Image/Ipad/stopmusic.png" />
									<img src="../../Image/Ipad/stopmusic_down.png" />
								</div>
								<div onclick="musicNext(this)"><img src="../../Image/Ipad/next.png" /><img src="../../Image/Ipad/next_down.png" /></div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>