<div data-page="curtainSys" class="page" id="curtain">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">窗帘系统</div>
			<div class="right"><a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a></div>
		</div>
	</div>
	<div id="electManager_content" class="page-content curtain">
		<p class="floorTitle">楼层</p>
		<div class="list accordion-list" style="margin: 0;">
		  <ul>
		    <li class="accordion-item " >
		    	<div href="#" class="item-content item-link" style="height: 55px;">
		    		<div class="item-media"><i class="iconfont icon-sanjiao"></i></div><!--icon-sanjiao-copy-->
			        <div class="item-inner" style="background-image: none;">
			        	
			          	<div class="item-title">47层</div>
			        </div>
		    	</div>
		      <div class="accordion-item-content">
		      	
		        <div class="row">
		        	<div class="col-33">
		        		<p>A区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>B区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>C区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		    </li>
		    <li class="accordion-item">
		    	<div href="#" class="item-content item-link" style="height: 55px;">
		    		<div class="item-media"><i class="iconfont icon-sanjiao"></i></div><!--icon-sanjiao-copy-->
			        <div class="item-inner" style="background-image: none;">
			        	
			          	<div class="item-title">48层</div>
			        </div>
		    	</div>
		      <div class="accordion-item-content">
		      	
		        <div class="row">
		        	<div class="col-33">
		        		<p>A区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>B区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>C区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		    </li>
		    <li class="accordion-item">
		    	<div href="#" class="item-content item-link" style="height: 55px;">
		    		<div class="item-media"><i class="iconfont icon-sanjiao"></i></div><!--icon-sanjiao-copy-->
			        <div class="item-inner" style="background-image: none;">
			        	
			          	<div class="item-title">49层</div>
			        </div>
		    	</div>
		      <div class="accordion-item-content">
		      	
		        <div class="row">
		        	<div class="col-33">
		        		<p>A区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>B区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>C区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		    </li>
		    <li class="accordion-item">
		    	<div href="#" class="item-content item-link" style="height: 55px;">
		    		<div class="item-media"><i class="iconfont icon-sanjiao"></i></div><!--icon-sanjiao-copy-->
			        <div class="item-inner" style="background-image: none;">
			        	
			          	<div class="item-title">50层</div>
			        </div>
		    	</div>
		      <div class="accordion-item-content">
		      	
		        <div class="row">
		        	<div class="col-33">
		        		<p>A区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>B区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-33">
		        		<p>C区</p>
		        		<div class="row">
		        			<div class="col-10">
		        				
		        			</div>
		        			<div class="col-90 imgList">
		        				<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_c_open.png" />
										<img src="../../Image/Ipad/audio_c_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_ss_open.png" />
										<img src="../../Image/Ipad/audio_ss_down.png" />
									</p>
									
								</div>
								<div class="pannel-imginfo">
									<p>
										<img src="../../Image/Ipad/audio_s_open.png" />
										<img src="../../Image/Ipad/audio_s_down.png" />
									</p>
									
								</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		      </div>
		    </li>
		  </ul>
		</div>
	</div>
</div>