<div data-page="guestControl" class="page" id="guestControl">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">客控系统</div>
			<div class="right"><a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a></div>
		</div>
	</div>
	<div id="guestControl_content" class="page-content">
		<div class="guestControl">
			<div class="left-pannel">
				<div class="pannel-header">
					客房管理
				</div>
				<ul>
					<li class="pannel-down">一号客房<i class="iconfont icon-web-person"></i></li>
					<li>二号客房</li>
					<li>三号客房<i class="iconfont icon-web-person"></i></li>
					<li>四号客房</li>
					<li>五号客房</li>
				</ul>
			</div>
			<div class="right-pannel">
				<div class="half-pannel">
					<div>
						<span>灯光控制</span>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/light_open.png" /><img src="../../Image/Ipad/light_down.png" /></p>
							<span>房间</span>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/light_open.png" /><img src="../../Image/Ipad/light_down.png" /></p>
							<span>洗手间</span>
						</div>
					</div>
					<div>
						<span>空调控制</span>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/light_open.png" /><img src="../../Image/Ipad/light_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/kt_up_open.png" /><img src="../../Image/Ipad/kt_up_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/kt_d_open.png" /><img src="../../Image/Ipad/kt_d_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/fs_open.png" /><img src="../../Image/Ipad/fs_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/fresh_open.png" /><img src="../../Image/Ipad/fresh_down.png" /></p>
						</div>
					</div>
				</div>
				<div class="half-pannel">
					<div>
						<span>窗帘控制</span>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/audio_c_open.png" /><img src="../../Image/Ipad/audio_c_down.png" /></p>
							<span>打开</span>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/audio_ss_open.png" /><img src="../../Image/Ipad/audio_ss_down.png" /></p>
							<span>暂停</span>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/cl_c_open.png" /><img src="../../Image/Ipad/cl_c_down.png" /></p>
							<span>关闭</span>
						</div>
					</div>
					<div>
						<span>音乐控制</span>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/music_pre_open.png" /><img src="../../Image/Ipad/music_pre_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/music_stop.png" /><img src="../../Image/Ipad/audio_down.png" /></p>
						</div>
						<div class="pannel-imginfo">
							<p><img src="../../Image/Ipad/music_next_open.png" /><img src="../../Image/Ipad/music_next_down.png" /></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>