<div data-page="historyNotice" class="page" id="historyNotice">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a>
			</div>
			<div class="center sliding title">历史通知</div>
			<div class="right">
				<!-- <a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a> -->
			</div>
		</div>
	</div>
	<div id="historyNotice_content" class="page-content">
		<div class="historyNotice">
			<div class="left-pannel">
				<ul>
					<li class="pannel-down">
						<div><img src="/Image/Ipad/swiming.png"/></div>
						<p>泳池通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/shuiba.png"/></div>
						<p>水吧通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/kefang.png"/></div>
						<p>客房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/movie.png"/></div>
						<p>影厅通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/cufang.png"/></div>
						<p>厨房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/swiming.png"/></div>
						<p>泳池通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/shuiba.png"/></div>
						<p>水吧通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/kefang.png"/></div>
						<p>客房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/movie.png"/></div>
						<p>影厅通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/cufang.png"/></div>
						<p>厨房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/swiming.png"/></div>
						<p>泳池通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/shuiba.png"/></div>
						<p>水吧通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/kefang.png"/></div>
						<p>客房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/movie.png"/></div>
						<p>影厅通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/cufang.png"/></div>
						<p>厨房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/swiming.png"/></div>
						<p>泳池通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/shuiba.png"/></div>
						<p>水吧通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/kefang.png"/></div>
						<p>客房通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/movie.png"/></div>
						<p>影厅通知 <label>12:30</label></p>
					</li>
					<li>
						<div><img src="/Image/Ipad/cufang.png"/></div>
						<p>厨房通知 <label>12:30</label></p>
					</li>
				</ul>
			</div>
			<div class="right-pannel">
				<div class="pannel-box">
					<!-- <h3>通知详情</h3> -->
					<div>
						<p>
							<span>通知楼层</span>
							<span>通知位置</span>
							<span>通知时间</span>
						</p>
						<p>
							<span>18层</span>
							<span>泳池</span>
							<span>2018/07/12</span>
						</p>
						<a href="#">已确认</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>