<div data-page="infoComm" class="page" id="infoComm">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">信息沟通</div>
			<div class="right"><a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a></div>
		</div>
	</div>
	<div id="guestControl_content" class="page-content">
		<div class="infoComm">
			<div class="side-nav">
				<a href="#" class="tab-link active "><i class="iconfont icon-web-xinxi"></i><span>消息</span></a>
				<a href="#" class="tab-link"><i class="iconfont icon-lianxirenxinxi"></i><span>联系人</span></a>
				<a href="#" class="tab-link" style="display: none;">
					<div><img src="../../Image/Ipad/notice_info.png" /></div><span>通知</span></a>
			</div>

			<div class="pannel-container">
				<div class="pannel-tab active">
					<div class="tab-content">
						<div class="left-pannel" style="overflow: hidden;">
							<div class="header-search">
								<form class="searchbar searchbar-one">
									<div class="searchbar-inner">
										<div class="searchbar-input-wrap">
											<input type="search" placeholder="搜索">
											<i class="searchbar-icon"></i>
											<span class="input-clear-button"></span>
										</div>
										<span class="searchbar-disable-button">取消</span>
									</div>
								</form>
							</div>
							<div style="height:calc(100% - 80px);width: 100%;position: relative;">
									<div class="searchbar-backdrop"></div>
									<ul id="mesList" class="search-here searchbar-found list-one"  style="height: 100%;overflow: auto;">

									<!-- <li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p class="item-title">A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
										<font><span>99</span></font>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p class="item-title">A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
										<font><span>99</span></font>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="../../Image/Ipad/person_img.png" /></div>
										<p>A.服务员301 <label>17:50</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li> -->
								</ul>
								
								
								
							</div>
							
							<!-- Nothing found message -->
							<div class="block searchbar-not-found">
								<div class="block-inner">Nothing found</div>
							</div>
						</div>
						<div class="right-pannel">
							<div class="pannel-img" style="display: none;">

							</div>
							<div class="pannel-info-detail" id="mesListMesWrap" style="height: 100%;display: none;">
								<div class="pannel-header">
									<div><img src="/Image/Ipad/person_img.png" /></div>
									<p class="name">A.服务员301</p>
								</div>

								<div class="pannel-chat" id="chatOtherInfoId">
									<!-- <p>中午 12:10</p>
									<div class="pannel-chat-info stay-left">
										<div class="chart-person">
											<img src="/Image/Ipad/person_img.png" />
										</div>
										<div class="chart-content">
											输入聊天内容输入聊天内容
										</div>
									</div>
									<div class="pannel-chat-info">
										<div class="chart-person">
											<img src="/Image/Ipad/person_img.png" />
										</div>
										<div class="chart-content">
											输入聊天内容输入聊天内容输入聊天内容
										</div>
									</div>
									<div class="pannel-chat-info stay-right">
										<div class="chart-person">
											<img src="/Image/Ipad/person_img.png" />
										</div>
										<div class="chart-content">
											输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入
										</div>
									</div> -->
								</div>
								<div class="pannel-footer">
									<input type="text" id="chatWithOtherInfoId" placeholder="在此处输入内容" />
									<a href="#" class="chat-other-btn" id="chatWithOtherInfoBtnId">
										<img src="/Image/Ipad/info_send.png" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pannel-tab active"   style="display: none;">
					<div class="tab-content">
						<div class="left-pannel" style="overflow:hidden;">
							<div class="header-search">
								<form class="searchbar searchbar-two">
									<div class="searchbar-inner">
										<div class="searchbar-input-wrap">
											<input type="search" placeholder="搜索">
											<i class="searchbar-icon"></i>
											<span class="input-clear-button"></span>
										</div>
										<span class="searchbar-disable-button">取消</span>
									</div>
								</form>
							</div>
							<div style="height:calc(100% - 80px);width: 100%;position: relative;">
								<div class="searchbar-backdrop"></div>
								<div class="list contacts-list list-two searchbar-found" id="contactList" style="height: 100%;overflow: auto;">
									

									<!-- <div class="list-group">
										<ul>
											<li class="list-group-title">A</li>
											<li>
												<div><img src="/Image/Ipad/person_img.png" /></div>
												<label class="item-title">A.服务员301</label>
											</li>
											<li>
												<div><img src="/Image/Ipad/person_img.png" /></div>
												<label class="item-title">A.服务员302</label>
											</li>
											<li>
												<div><img src="/Image/Ipad/person_img.png" /></div>
												<label class="item-title">A.服务员303</label>
											</li>
										</ul>
									</div>
									 -->
								</div>
							</div>
							
							<!-- Nothing found message -->
							<div class="block searchbar-not-found">
								<div class="block-inner">Nothing found</div>
							</div>
						</div>
						<div class="right-pannel" id="contactMess" style="display: none;">
							<div class="pannel-header">
								<div><img src="/Image/Ipad/person_img.png" /></div>
								<p class="name"></p>
							</div>
							<div class="pannel-chat" id="chatOtherContactId">
								<!-- <p>中午 12:10</p>
								<div class="pannel-chat-info">
									<div class="chart-person">
										<img src="/Image/Ipad/person_img.png" />
									</div>
									<div class="chart-content">
										输入聊天内容输入
									</div>
								</div>
								<div class="pannel-chat-info">
									<div class="chart-person">
										<img src="/Image/Ipad/person_img.png" />
									</div>
									<div class="chart-content">
										输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容
									</div>
								</div>
								<div class="pannel-chat-info stay-right">
									<div class="chart-person">
										<img src="/Image/Ipad/person_img.png" />
									</div>
									<div class="chart-content">
										输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容输入聊天内容
									</div>
								</div> -->
							</div>
							<div class="pannel-footer">
								<input type="text" id="chatWithOtherContactId" placeholder="在此处输入内容" />
								<a href="#" class="chat-other-btn" id="chatWithOtherContactBtnId">
									<img src="/Image/Ipad/info_send.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="pannel-tab" style="display: none;">
					<div class="tab-content">
						<div class="left-pannel">
							<div class="header-search">
								<form class="searchbar searchbar-three">
									<div class="searchbar-inner">
										<div class="searchbar-input-wrap">
											<input type="search" placeholder="搜索">
											<i class="searchbar-icon"></i>
											<span class="input-clear-button"></span>
										</div>
										<span class="searchbar-disable-button">取消</span>
									</div>
								</form>
							</div>
							<div class="list-three searchbar-found">
								<ul class="search-here searchbar-found">
									<li>
										<div><img src="/Image/Ipad/swiming.png" /><em></em></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="/Image/Ipad/shuiba.png" /></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="/Image/Ipad/kefang.png" /></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="/Image/Ipad/movie.png" /></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="/Image/Ipad/cufang.png" /></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
									<li>
										<div><img src="/Image/Ipad/shuiba.png" /></div>
										<p>泳池通知 <label>12:30</label></p>
										<span>顾客有急需顾客有急需顾客有急需</span>
									</li>
								</ul>
							</div>
							<!-- Nothing found message -->
							<div class="block searchbar-not-found">
								<div class="block-inner">Nothing found</div>
							</div>
						</div>
						<div class="right-pannel">
							<div class="pannel-header">
								<div><img src="/Image/Ipad/swiming.png" /></div>
								<p>泳池通知</p>
							</div>
							<div class="pannel-main" id="pannelMainId">
								<p>12:30</p>
								<div class="pannel-box">
									<div>
										<p>
											<span>通知楼层</span>
											<span>通知位置</span>
											<span>通知时间</span>
										</p>
										<p>
											<span>18层</span>
											<span>水吧</span>
											<span>2018/07/12</span>
										</p>
										<a href="#">确认通知</a>
									</div>
								</div>
								<p>12:30</p>
								<div class="pannel-box">
									<div>
										<p>
											<span>通知楼层</span>
											<span>通知位置</span>
											<span>通知时间</span>
										</p>
										<p>
											<span>18层</span>
											<span>水吧</span>
											<span>2018/07/12</span>
										</p>
										<a href="#">确认通知</a>
									</div>
								</div>
								<p>12:30</p>
								<div class="pannel-box">
									<div>
										<p>
											<span>通知楼层</span>
											<span>通知位置</span>
											<span>通知时间</span>
										</p>
										<p>
											<span>18层</span>
											<span>水吧</span>
											<span>2018/07/12</span>
										</p>
										<a href="#">确认通知</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>