<div data-page="noticeSet" class="page" id="noticeSet">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a>
			</div>
			<div class="center sliding title">设置</div>
			<div class="right"></div>
		</div>
	</div>
	<div id="noticeSet_content" class="page-content">
		<div class="noticeSet">
			<!--<a href="/serviceSchedu/" class="pannel-header">
				<img src="../../Image/Ipad/service_schedu.png"/>
				<span>服务员排班</span>
				<i class="iconfont icon-web-qianjin"></i>
			</a>-->
			<ul>
				<li>
					<img src="../../Image/Ipad/xiaoxi.png"/>
					<span>消息通知</span>
					<label class="toggle">
		            	<input type="checkbox" name="switch" value="yes"><i class="toggle-icon"></i>
		            </label>
				</li>
				<li>
					<img src="../../Image/Ipad/suoding.png"/>
					<span>在锁定的屏幕显示</span>
					<label class="toggle">
		            	<input type="checkbox" name="switch" value="yes"><i class="toggle-icon"></i>
		            </label>
				</li>
			</ul>
		</div>
	</div>
</div>