<div data-page="scenceCus" class="page" id="scenceCus">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">场景控制</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="bgMusic_content" class="page-content">
		<div class="scenceCus">
			<div class="left-pannel">
				<p><span>楼层</span></p>
				<div class="list accordion-list listWrap" >
				  <ul>
				    <li class="accordion-item accordion-item-opened">
				    	<a href="#" class="item-content item-link">
					        <div class="item-inner">
					          	<div class="item-title">47F</div>
					        </div>
				    	</a>
					    <div class="accordion-item-content">
					        <div class="list simple-list">
							  <ul>
							    <li class="active">贵宾室1</li>
							    <li>贵宾室2</li>
							    <li>茶室</li>
							    <li>日式料理</li>
							    <li>酒窖</li>
							    <li>公共走廊</li>
							    <li>电梯厅</li>
							    <li>大堂</li>
							  </ul>
							</div>
					    </div>
				    </li>
				    <li class="accordion-item">
				    	<a href="#" class="item-content item-link">
					        <div class="item-inner">
					          <div class="item-title">48F</div>
					        </div>
				    	</a>
				        <div class="accordion-item-content">
					        <div class="list simple-list">
							  <ul>
							    <li>高尔夫室</li>
							    <li>IMAX影院</li>
							    <li>KTV</li>
							    <li>兵乓球室</li>
							    <li>台球室</li>
							    <li>佛堂</li>
							    <li>公共走廊</li>
							    <li>棋牌室</li>
							    <li>男卫</li>
							    <li>女卫</li>
							  </ul>
							</div>
				        </div>
				    </li>
				    <li class="accordion-item">
				    	<a href="#" class="item-content item-link">
					        <div class="item-inner">
					          <div class="item-title">49F</div>
					        </div>
				    	</a>
				        <div class="accordion-item-content">
					        <div class="list simple-list">
							  <ul>
							    <li>公区</li>
							    <li>休闲区</li>
							    <li>餐厅</li>
							    <li>泳池</li>
							    <li>SPA1</li>
							    <li>SPA2</li>
							    <li>桑拿室</li>
							    <li>卫生间</li>
							  </ul>
							</div>
				        </div>
				    </li>
				  </ul>
				</div>
			</div>
			<div class="right-pannel">
				<div class="half-pannel">
					<div class="half-left-pannel">
						<!--<div class="pannel-title">
							灯光控制
						</div>-->
						<div class="room-scene-box" id="roomSceneId">
							<ul class="scene-box-title">
								<li>场景模式</li>
								<!--<li style="display: none;">起居室场景模式</li>-->
							</ul>
							<div class="wrap">
								<!--<div class="pannel-imginfo">
									<p><img src="../../Image/Ipad/open.png" /><img src="../../Image/Ipad/close.png" /></p>
									<span>全开</span>
								</div>
								<div class="pannel-imginfo">
									<p><img src="../../Image/Ipad/open.png" /><img src="../../Image/Ipad/close.png" /></p>
									<span>全开</span>
								</div>-->
							</div>
							
							
							
						</div>
						<div class="top-control-box" id="ktControl">
							<ul class="pannel-title" style="width: 100%;">
								
							</ul>
							<div class="air-scene-box">
								<div class="air-box-title">
									<font id="airTemperatureId">26</font><span>°C</span><label>设置温度</label>
								</div>
								<div class="air-box-iconinfo">
									
									<ul class="air-iconinfo-content" id="windchoose">
										<li>风速</li>
										<li><i class="iconfont icon-disu"></i></li>
										<li><i class="iconfont icon-zhongsu"></i></li>
										<li><i class="iconfont icon-gaosu"></i></li>
										<li><i class="iconfont icon-zidong"></i></li>
									</ul>
									<ul class="air-iconinfo-content" id="airModelContentId">
										<li>模式</li>
										<li><i class="iconfont icon-zhileng"></i></li>
										<li><i class="iconfont icon-app_zr"></i></li>
										<li><i class="iconfont icon-songfeng"></i></li>
										<li><i class="iconfont icon-app_cs"></i></li>
									</ul>
								</div>
							</div>
							<ul class="air-pannel-pattern" id="airSceneId">
								<li>
									<img src="../../Image/Ipad/light_open.png" /><img src="../../Image/Ipad/close.png" />
								</li>
								<li>
									<img src="../../Image/Ipad/kt_up_open.png" /><img src="../../Image/Ipad/kt_up_down.png" />
								</li>
								<li>
									<img src="../../Image/Ipad/kt_d_open.png" /><img src="../../Image/Ipad/kt_d_down.png" />
								</li>
								<li>
									<img src="../../Image/Ipad/fresh_open.png" /><img src="../../Image/Ipad/fresh_down.png" />
								</li>
								<li>
									<img src="../../Image/Ipad/air_moshi.png" /><img src="../../Image/Ipad/air_moshi_down.png" />
								</li>
							</ul>
						</div>
						<div class="room-scene-box" id="loopSet">
							<ul class="scene-box-title">
								<li>开关回路</li>
								<!--<li style="display: none;">起居室场景模式</li>-->
							</ul>
							<div class="wrap">
								
							</div>
							<!--<div class="pannel-imginfo">
								<p><img src="../../Image/Ipad/open.png" /><img src="../../Image/Ipad/close.png" /></p>
								<span>吊灯</span>
							</div>
							<div class="pannel-imginfo">
								<p><img src="../../Image/Ipad/open.png" /><img src="../../Image/Ipad/close.png" /></p>
								<span>机房灯</span>
							</div>-->
							
						</div>
					</div>
					<div class="half-right-pannel" id="curtainScence">
						<div class="top-right-pannel">
							<div class="pannel-title" style="width: 100%;">
								窗帘
							</div>
							<ul id="curtainWrap">
								<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="2"><i class="icon-checkbox"></i><span>贵宾室2</span></label></li>
								<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="3"><i class="icon-checkbox"></i><span>茶室</span></label></li>
								<li><label class="checkbox"><input type="checkbox" name="my-checkbox" value="4"><i class="icon-checkbox"></i><span>日式料理</span></label></li>
								
							</ul>
						</div>
							
					
						<div class="middle-control-box">
							
							<div class="curtain-pannel-pattern" id="curtainSceneId">
								<div class="pannel-imginfo" onclick="openCurtainFun(this)">
									<p><img src="../../Image/Ipad/audio_c_open.png" /><img src="../../Image/Ipad/audio_c_down.png" /></p>
									<span>开启</span>
								</div>
								<div class="pannel-imginfo"  onclick="stopCurtainFun(this)">
									<p><img src="../../Image/Ipad/audio_ss_open.png" /><img src="../../Image/Ipad/audio_ss_down.png" /></p>
									<span>停止</span>
								</div>
								<div class="pannel-imginfo"  onclick="closeCurtainFun(this)">
									<p><img src="../../Image/Ipad/audio_s_open.png" /><img src="../../Image/Ipad/audio_s_down.png" /></p>
									<span>关闭</span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				
			
			</div>
		</div>
	</div>
</div>