<div data-page="serviceCall" class="page" id="serviceCall">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">服务呼叫</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only"><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="serviceManage_content" class="page-content">
		<div class="serviceCall">
			<div class="left-pannel">
				<div class="header-search">
					<form class="searchbar searchbar-ones">
						<div class="searchbar-inner">
							<div class="searchbar-input-wrap">
								<input type="search" placeholder="搜索">
								<i class="searchbar-icon"></i>
								<span class="input-clear-button"></span>
							</div>
							<span class="searchbar-disable-button">取消</span>
						</div>
					</form>
				</div>
				<div class="list-ones searchbar-found">
					<ul class="search-here searchbar-found">
						<li class="bg-dark">
							<div><img src="/Image/Ipad/swiming.png" /></div>
							<p class="item-title">泳池通知 <label class="item-title">12:30</label></p>
							<span class="item-title">顾客有急需顾客有急需顾客有急需</span>
							<font><span>22</span></font>
						</li>
						<li>
							<div><img src="/Image/Ipad/shuiba.png" /></div>
							<p>泳池通知 <label>12:30</label></p>
							<span>顾客有急需顾客有急需顾客有急需</span>
							<font><span>12</span></font>
						</li>
						<li>
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>泳池通知 <label>12:30</label></p>
							<span>顾客有急需顾客有急需顾客有急需</span>
							<font><span>38</span></font>
						</li>
						<li>
							<div><img src="/Image/Ipad/movie.png" /></div>
							<p>泳池通知 <label>12:30</label></p>
							<span>顾客有急需顾客有急需顾客有急需</span>
							<font><span>18</span></font>
						</li>
						<li>
							<div><img src="/Image/Ipad/cufang.png" /></div>
							<p>泳池通知 <label>12:30</label></p>
							<span>顾客有急需顾客有急需顾客有急需</span>
							<font><span>15</span></font>
						</li>
						<li>
							<div><img src="/Image/Ipad/shuiba.png" /></div>
							<p>泳池通知 <label>12:30</label></p>
							<span>顾客有急需顾客有急需顾客有急需</span>
							<font><span>22</span></font>
						</li>
					</ul>
				</div>
				<!-- Nothing found message -->
				<div class="block searchbar-not-found">
					<div class="block-inner">Nothing found</div>
				</div>
			</div>
			<div class="right-pannel">
				<div class="pannel-main" id="pannelMainId">
					<p>中午 12:30</p>
					<div class="pannel-box">
						<div>
							<p>
								<span>通知楼层</span>
								<span>通知位置</span>
								<span>通知时间</span>
							</p>
							<p>
								<span>18层</span>
								<span>水吧</span>
								<span>2018/07/12</span>
							</p>
							<a href="#">确认通知</a>
						</div>
					</div>
					<p>中午 12:30</p>
					<div class="pannel-box">
						<div>
							<p>
								<span>通知楼层</span>
								<span>通知位置</span>
								<span>通知时间</span>
							</p>
							<p>
								<span>18层</span>
								<span>水吧</span>
								<span>2018/07/12</span>
							</p>
							<a href="#">确认通知</a>
						</div>
					</div>
					<p>中午 12:30</p>
					<div class="pannel-box">
						<div>
							<p>
								<span>通知楼层</span>
								<span>通知位置</span>
								<span>通知时间</span>
							</p>
							<p>
								<span>18层</span>
								<span>水吧</span>
								<span>2018/07/12</span>
							</p>
							<a href="#">确认通知</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>