<div data-page="serviceSchedu" class="page" id="serviceSchedu">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				 <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> 
			</div>
			<div class="center sliding title">服务员排班</div>
			<div class="right">
				
			</div>
		</div>
	</div>
	<div id="serviceSchedu_content" class="page-content">
		<div class="serviceSchedu">
			<div class="left-pannel">
				<div class="pannel-header">
					白班
				</div>
				<div class="pannel-header">
					夜班
				</div>
				<div class="pannel-container">
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					
					<div class="pannel-box">
						<p>19层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					
					<div class="pannel-box">
						<p>20层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					
					<div class="pannel-box">
						<p>21层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					
					<div class="pannel-box">
						<p>22层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					
					<div class="pannel-box">
						<p>23层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p></p>
						<ul>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>