<div data-page="serviceCall" class="page" id="serviceCall">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">服务呼叫</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only"><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="serviceManage_content" class="page-content">
		<div class="serviceCall">
			<div class="left-pannel" style="overflow: hidden;">
				<div class="header-search">
					<form class="searchbar searchbar-ones">
						<div class="searchbar-inner">
							<div class="searchbar-input-wrap">
								<input type="search" placeholder="搜索">
								<i class="searchbar-icon"></i>
								<span class="input-clear-button"></span>
							</div>
							<span class="searchbar-disable-button">取消</span>
						</div>
					</form>
				</div>
				<div class="list-ones searchbar-found"  style="height: calc(100% - 80px);overflow: auto;position: relative;">
					<div class="searchbar-backdrop"></div>
					<ul class="search-here searchbar-found" id="roomList" style="">
						
						<li id="300" onclick="loadNotice(this,300)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>客房1-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="301" onclick="loadNotice(this,301)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>客房2-通知  <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="302" onclick="loadNotice(this,302)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>客房3-通知  <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="303" onclick="loadNotice(this,303)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>客房4-通知  <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="304" onclick="loadNotice(this,304)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>客房5-通知  <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li  id="305" onclick="loadNotice(this,305)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>贵宾室1 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="306" onclick="loadNotice(this,306)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>贵宾室2-通知  <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="307" onclick="loadNotice(this,307)">
							<div><img src="/Image/Ipad/pincha_down.png" /></div>
							<p>茶室-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="308" onclick="loadNotice(this,308)">
							<div><img src="/Image/Ipad/shuiba.png" /></div>
							<p>酒窖-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="309" onclick="loadNotice(this,309)">
							<div><img src="/Image/Ipad/golf_down.png" /></div>
							<p>高尔夫-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="310" onclick="loadNotice(this,310)">
							<div><img src="/Image/Ipad/movie.png" /></div>
							<p>IMAX影院-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li  id="311" onclick="loadNotice(this,311)">
							<div><img src="/Image/Ipad/KTV.png" /></div>
							<p>KTV-通知 <label class="item-title"></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="312" onclick="loadNotice(this,312)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>棋牌室-通知<label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="313" onclick="loadNotice(this,313)">
							<div><img src="/Image/Ipad/kefang.png" /></div>
							<p>兵乓球-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="314" onclick="loadNotice(this,314)">
							<div><img src="/Image/Ipad/spa_down.png" /></div>
							<p>SPA1-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
						<li id="315" onclick="loadNotice(this,315)">
							<div><img src="/Image/Ipad/spa_down.png" /></div>
							<p>SPA2-通知 <label></label></p>
							<span class="sub">暂无新呼叫待处理</span>
							<font style="display: none"><span class="nums">0</span></font>
						</li>
					</ul>
				</div>
				<!-- Nothing found message -->
				<div class="block searchbar-not-found">
					<div class="block-inner">Nothing found</div>
				</div>
			</div>
			<div class="right-pannel">
				<div class="pannel-main" id="pannelMainId">
				</div>
			</div>
		</div>
	</div>
</div>