<div data-page="serviceManage" class="page" id="serviceManage">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">服务管理</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="serviceManage_content" class="page-content">
		<div class="serviceManage">
			<div class="left-pannel">
				<div class="pannel-header">
					服务员排班
				</div>
				<div class="pannel-container">
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>18层 <label>A区</label></p>
						<ul>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li>
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-taiyang"></i>
							</li>
							<li class="bg-dark">
								<div><img src="../../Image/Ipad/person_img.png" /></div>
								<span>服务员301</span>
								<i class="iconfont icon-yueliang"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right-pannel">
				<div class="pannel-header">
					客房呼叫
				</div>
				<div class="pannel-container">
					<div class="pannel-box">
						<div>
							<div>
								<p>待确认通知</p>
								<span>42</span>
							</div>
							<div>
								<p>已确认通知</p>
								<span>36</span>
							</div>
						</div>
					</div>
					<div class="pannel-box">
						<p>待确认通知</p>
						<ul id="needConfirmNoticeId">
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/swiming.png" /><em></em></div>
									<p>泳池通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
						</ul>
					</div>
					<div class="pannel-box">
						<p>已确认通知</p>
						<ul id="finishConfirmNoticeId">
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/swiming.png" /></div>
									<p>水吧通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/kefang.png" /></div>
									<p>客房通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/movie.png" /></div>
									<p>影厅通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/cufang.png" /></div>
									<p>厨房通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/swiming.png" /></div>
									<p>泳池通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
							<li class="swipeout">
								<section class="swipeout-content">
									<div><img src="/Image/Ipad/swiming.png" /></div>
									<p>泳池通知 <label>12:30</label></p>
									<span>顾客有急需顾客有急需顾客有急需</span>
								</section>
								<section class="swipeout-actions-right">
									<a href="#" class="swipeout-delete">删除</a>
								</section>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>