<div data-page="sysOverview" class="page" id="sysOverview">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<!-- <a href="#" class="back link">
					<i class="iconfont icon-backAPP"></i>
				</a> -->
			</div>
			<div class="center sliding title">系统总览</div>
			<div class="right">
				<a href="/noticeSet/" class="link icon-only" ><i class="iconfont icon-appSet"></i></a>
			</div>
		</div>
	</div>
	<div id="sysOverview_content" class="page-content">
		11
	</div>
</div>