<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>敢为软件</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_600686_c57llrkentvjkyb9.css">
		
    <script src="./static/js/jquery-1.11.3.min.js"></script>

    <script src="./static/js/jquery.signalR-2.1.2.min.js"></script>
    <link rel="stylesheet" href="./static/font/headerICon.css">
    <link rel="stylesheet" href="./static/font/contentICon.css">    
    <link rel="stylesheet" href="./static/font/iconfont.css">   
    
  <link rel="shortcut icon" href="./logo.png"><link href="./static/css/app.f70e87561ea187c1aef36ace15811745.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="./static/js/manifest.404740541c63642973ef.js"></script><script type="text/javascript" src="./static/js/vendor.9b3d9f6e20af357dd42c.js"></script><script type="text/javascript" src="./static/js/app.008632645b64741f66ce.js"></script></body>
</html>