<div class="page historyInfo" data-page="historyInfo" id="historyInfo">
    <div class="navbar " >
        <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link back"><i class="iconfont icon-back"></i></a>
            </div>                                      
            <div class="center sliding title auth_name_msg">历史通知</div>
            <div class="right"><a href="#" onclick="refreshData()">刷新</a></div>          
        </div>
    </div>      
    <div class="page-content historyInfoContainer">

          <div class="segmented segmented-raised">
            <a class="button tab-link tab-link-active" href="#allInfo" data_number = "1">全部</a>
            <a class="button tab-link" href="#guestRoom1" data_number = "300">客房1</a>
            <a class="button tab-link" href="#guestRoom2" data_number = "301">客房2</a>
            <a class="button tab-link" href="#guestRoom3" data_number = "302">客房3</a>
            <a class="button tab-link" href="#guestRoom4" data_number = "303">客房4</a>
            <a class="button tab-link" href="#guestRoom5" data_number = "304">客房5</a>
            <a class="button tab-link" href="#guestRoom6" data_number = "305">贵宾室1</a>
            <a class="button tab-link" href="#guestRoom7" data_number = "306">贵宾室2</a>
            <a class="button tab-link" href="#guestRoom8" data_number = "307">茶室</a>
            <a class="button tab-link" href="#guestRoom9" data_number = "308">酒窖</a>
            <a class="button tab-link" href="#guestRoom10" data_number = "309">高尔夫室</a>
            <a class="button tab-link" href="#guestRoom11" data_number = "310">IMAX影院-</a>
            <a class="button tab-link" href="#guestRoom12" data_number = "311">KTV</a>
            <a class="button tab-link" href="#guestRoom13" data_number = "312">棋牌室</a>
            <a class="button tab-link" href="#guestRoom14" data_number = "313">兵乓球室</a>
            <a class="button tab-link" href="#guestRoom15" data_number = "314">SPA1</a> 
            <a class="button tab-link" href="#guestRoom16" data_number = "315">SPA2</a>                                                                 
          </div>

          <div class="tabs historyInfoSection"> 
            <div class="tab tab-active" id="allInfo"> <div class="list media-list"> <ul class="row allInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom1"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom2"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom3"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom4"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom5"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom6"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom7"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom8"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom9"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom10"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom11"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom12"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom13"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom14"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom15"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
            <div class="tab" id="guestRoom16"> <div class="list media-list"> <ul class="row swimmingInfoList"> </ul> </div> </div>
        </div>
       <div class="alertMSG">
            <div class="alertMSG_context">
                <img src="/Image/notice/noticeDetails.png" alt="">
                <div class="alertMSG_text">
                    <p class="row">
                        <span class="col-50 msgFloor">楼层: <label>18</label></span>
                        <span  class="col-50 msgPosition">位置: <label>18</label></span>
                    </p>
                    <p class="row">
                        <span class="col-100 msgCallTime">时间: <label>2018/07/02 15:00</label></span>
                      
                    </p>
                    <p class="msg_tooip">呼叫服务人员<b>请确认后立即前往处理</b></p>
                     
                     <a href="#" class="msg_comfig">确认通知</a>
                </div>
                <a href="#" class="msg_close" ><i class="iconfont icon-app_close"></i></a>
            </div>
        </div>


        
    </div>
</div>
