
    <div data-page="homeDeatils1" class="page" id="homeDeatils1">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"></a></div>
                <div class="center sliding title guestRoomTitle">房间管理</div>
                <div class="right"></div>
            </div>
        </div>        
        <div id="homeDeatils_content1" class="page-content">         
               <div class="homeDeatils_setBg">
               <div class="row homeHeaderDetalisList">
                    <div class="col-75 row">
                        <span class="hourseName positionCenter">客房 201</span>
                    </div>
                    <div class="col-25"><i class="iconfont icon-peopleNone positionCenter" style="color: #6B93FA;"></i></div>
                </div>
                </div>
                <section class="homeDeatilsContext">
                    <dl>
                        <dt class="homeDeatilstitle list simple-list" >
                             <a href="#" class="item-link smart-select smart-select-init" onchange="onLightingList1()"  >
                                <select name="lighting" id="lighting_0">
                                    <option value="0" selected="selected">照明</option>
                                    <option value="1" >模式</option>
                                </select>
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">灯光控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row lightingDD no-gap lightingAndPattern_0">
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ws.png" alt=""></a>
                            <p>台灯(卧)</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="ws2_light_open"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="ws2_light_close displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开关</p>   
                             </span>                             
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ys.png" alt=""></a>
                            <p>防雾灯(卫)</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="ws2_light1_open"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="ws2_light1_close displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开关</p>   
                             </span>                             
                          </div>                          
                        </dd>                        
                        <dd class="row lightingDD no-gap lightingAndPattern_1 displayNone">
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ws.png" alt=""></a>
                            <p>卧室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="ws2_scene_allopen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="ws2_scene_allclose"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span>                             
                            <span class="">
                                <a href="#" class="ws2_scene_wel"><img src="/image/home/yb0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/yb1.png" alt=""></a>
                                <p>迎宾</p>   
                             </span>  
                            <span class="">
                                <a href="#" class="ws2_scene_ml"><img src="/image/home/ml0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/ml1.png" alt=""></a>
                                <p>明亮</p>   
                             </span> 
                            <span class="">
                                <a href="#" class="ws2_scene_rh"><img src="/image/home/rh0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/rh1.png" alt=""></a>
                                <p>柔和</p>   
                             </span> 
                             <span class="">
                                <a href="#" class="ws2_scene_xx"><img src="/image/home/xx0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/xx1.png" alt=""></a>
                                <p>休闲</p>   
                             </span>
                             <span class="">
                                <a href="#" class="ws2_scene_sm"><img src="/image/home/sm0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/sm1.png" alt=""></a>
                                <p>睡眠</p>   
                             </span>   
                             <span class="">
                                <a href="#" class="ws2_scene_yq"><img src="/image/home/yq0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/yq1.png" alt=""></a>
                                <p>夜起</p>   
                             </span>
                             <span class="">
                                <a href="#" class="ws2_scene_cq"><img src="/image/home/cq0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/cq1.png" alt=""></a>
                                <p>晨起</p>   
                             </span> 
                             <span class="">
                                <a href="#" class="ws2_scene_yd"><img src="/image/home/yd0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/yd1.png" alt=""></a>
                                <p>阅读</p>   
                             </span>                                                                     
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ys.png" alt=""></a>
                            <p>浴室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="ys2_scene_allopen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="ys2_scene_allclose"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span> 
                            <span class="">
                                <a href="#" class="ys2_scene_ml"><img src="/image/home/ml0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/ml1.png" alt=""></a>
                                <p>明亮</p>   
                             </span>  
                            <span class="">
                                <a href="#" class="ys2_scene_rh"><img src="/image/home/rh0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/rh1.png" alt=""></a>
                                <p>柔和</p>   
                             </span>  
                            <span class="">
                                <a href="#" class="ys2_scene_ly"><img src="/image/home/my0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/my1.png" alt=""></a>
                                <p>淋浴</p>   
                             </span>                                                                                                                     
                            <span class="">
                                <a href="#" class="ys2_scene_yy"><img src="/image/home/yy0.png" alt=""></a>
                                <a href="#" class=" displayNone"><img src="/image/home/yy1.png" alt=""></a>
                                <p>音乐</p>   
                             </span>                               
                          </div>
                        </dd>                        

                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#">
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">空调控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row conditionerDD">
                            <div class="conditionerControl1 row">
                               <span class="col-50 wd_conditioner"><i>26</i> <sup>°C</sup><label>设置温度</label></span>
                               <span class="col-50" >
                                   <p class="conditioner_view_p1">
                                    <i class="iconfont icon-app_fs"></i>
                                    <em class="kt2_auto_1 selectFontWhite" windSpeedIndex="1">低</em>
                                    <em class="kt2_auto_2" windSpeedIndex="2">中</em>
                                    <em class="kt2_auto_3" windSpeedIndex="3">高</em>
                                    <em class="kt2_auto_4" windSpeedIndex="4">自动</em>
                                    </p>
                                    <p class="conditioner_view_p2">
                                        <i class="iconfont icon-app_zl" windSpeedIndex="1"></i>
                                        <i class="iconfont icon-app_zr" windSpeedIndex="2"></i>
                                        <i class="iconfont icon-app_fs selectFontWhite" windSpeedIndex="3"></i>
                                        <i class="iconfont icon-app_cs" windSpeedIndex="4"></i>
                                    </p>
                               </span>
                            </div>
                            <div class="conditionerControl2 row">
                                <div class="">
                                <a href="#" class="kt2_open"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="kt2_close displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt2_yl_zj"><img src="/image/home/d_sw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt2_yl_jx"><img src="/image/home/d_jw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_jw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt2_fs_td"><img src="/image/home/d_fs_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_fs_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt2_ms_qh"><img src="/image/home/d_msqh_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_msqh_1.png" alt=""></a>
                                </div>
                            </div>
                        </dd>                        
                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#">
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">音乐控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row soundControlDD" >
                            <div class="soundControl1 col-60 row no-gap">
                                <div class="col-33">
                                <a href="#" class="yy2_prev"><img src="/image/home/d_prev_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_prev_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy2_play"><img src="/image/home/d_play_0.png" alt=""></a>
                                <a href="#" class="yy2_stop displayNone"><img src="/image/home/d_play_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy2_next"><img src="/image/home/d_next_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_next_1.png" alt=""></a>
                                </div>                                                                
                            </div>
                            <div class="soundControl2 col-35 row no-gap"> 
                                <div class="col-50">
                                <a href="#" class="yy2_yljx"><img src="/image/home/d_sound_js_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sound_js_1.png" alt=""></a>
                                </div>
                                <div class="col-50">
                                <a href="#" class="yy2_ylzd"><img src="/image/home/d_zj_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_zj_1.png" alt=""></a>
                                </div>                                
                            </div>
                        </dd>                          
                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#" class="item-link smart-select smart-select-init"  >
                                <select name="curtains" class="curtains1" onchange="switchCurtains1()">
                                    <option value="0" selected="selected">卧室布帘</option>
                                    <option value="1" >卧室纱帘</option>
                                    <option value="2" >卫生间卷帘</option>
                                </select>
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">窗帘控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row curtainsDD viewDisplay" dataNumber="cl20" style="display: none;">
                            <div class="curtainsControl1 col-33">
                                <a href="#" class="cl2_bl1_close"><img src="/image/home/d_curtains_close0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_close1.png" alt=""></a>
                                <p>关闭</p></div>
                            <div class="curtainsControl2 col-33">
                                <a href="#" class="cl2_bl1_stop"><img src="/image/home/d_tz_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_tz_1.png" alt=""></a>
                                <p>停止</p></div>
                            <div class="curtainsControl3 col-33">
                                <a href="#" class="cl2_bl1_open"><img src="/image/home/d_curtains_open0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_open1.png" alt=""></a>
                                <p>打开</p></div>                            
                        </dd> 
                        <dd class="row curtainsDD" dataNumber="cl21" style="display: none;">
                            <div class="curtainsControl1 col-33">
                                <a href="#" class="cl2_sl1_close"><img src="/image/home/d_curtains_close0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_close1.png" alt=""></a>
                                <p>关闭</p></div>
                            <div class="curtainsControl2 col-33">
                                <a href="#" class="cl2_sl1_stop"><img src="/image/home/d_tz_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_tz_1.png" alt=""></a>
                                <p>停止</p></div>
                            <div class="curtainsControl3 col-33">
                                <a href="#" class="cl2_sl1_open"><img src="/image/home/d_curtains_open0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_open1.png" alt=""></a>
                                <p>打开</p></div>                            
                        </dd>   
                        <dd class="row curtainsDD" dataNumber="cl22" style="display: none;">
                            <div class="curtainsControl1 col-33">
                                <a href="#" class="cl2_wj1_close"><img src="/image/home/d_curtains_close0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_close1.png" alt=""></a>
                                <p>关闭</p></div>
                            <div class="curtainsControl2 col-33">
                                <a href="#" class="cl2_wj1_stop"><img src="/image/home/d_tz_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_tz_1.png" alt=""></a>
                                <p>停止</p></div>
                            <div class="curtainsControl3 col-33">
                                <a href="#" class="cl2_wj1_open"><img src="/image/home/d_curtains_open0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_open1.png" alt=""></a>
                                <p>打开</p></div>                            
                        </dd>                                                                                                                                  
                    </dl>
                </section>

        </div>
    </div>
