
    <div data-page="homeDeatils1" class="page" id="homeDeatils1">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"><i class="iconfont icon-backAPP"></i></a></div>
                <div class="center sliding title guestRoomTitle">房间管理</div>
                <div class="right"></div>
            </div>
        </div>        
        <div id="homeDeatils_content" class="page-content">         
               <div class="homeDeatils_setBg">
               <div class="row homeHeaderDetalisList">
                    <div class="col-75 row">
                        <span class="hourseName positionCenter">客房 102</span>
                    </div>
                    <div class="col-25"><i class="iconfont icon-peopleNone positionCenter" style="color: #6B93FA;"></i></div>
                </div>
                </div>
                <section class="homeDeatilsContext">
                    <dl>
                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#" class="item-link smart-select smart-select-init" onchange="onLightingList1()">
                                <select name="lighting" id="lighting_0">
                                    <option value="0" selected="selected">照明</option>
                                    <option value="1" >模式</option>
                                </select>
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">灯光控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row lightingDD no-gap lightingAndPattern_0">
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ws.png" alt=""></a>
                            <p>卧室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开灯</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>关灯</p>   
                             </span>                                                                            
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ys.png" alt=""></a>
                            <p>浴室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开灯</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>关灯</p>   
                             </span>                               
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/qj.png" alt=""></a>
                            <p>起居室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开灯</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>关灯</p>   
                             </span>                                                           
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/qjsw.png" alt=""></a>
                            <p>起居室卫</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>开灯</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>关灯</p>   
                             </span>                          
                          </div>
                        </dd>                        
                        <dd class="row lightingDD no-gap lightingAndPattern_1 displayNone">
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ws.png" alt=""></a>
                            <p>卧室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span>                             
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/ml0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/ml1.png" alt=""></a>
                                <p>明亮</p>   
                             </span>  
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/rh0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/rh1.png" alt=""></a>
                                <p>柔和</p>   
                             </span> 
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/sm0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/sm1.png" alt=""></a>
                                <p>睡眠</p>   
                             </span> 
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/cq0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/cq1.png" alt=""></a>
                                <p>晨起</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/yq0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/yq1.png" alt=""></a>
                                <p>夜起</p>   
                             </span>                                                           
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/ys.png" alt=""></a>
                            <p>浴室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span>                             
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/my0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/my1.png" alt=""></a>
                                <p>沐浴</p>   
                             </span>                               
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/qj.png" alt=""></a>
                            <p>起居室</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span>                                                         
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/yb0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/yb1.png" alt=""></a>
                                <p>迎宾</p>   
                             </span> 
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/xx0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/xx1.png" alt=""></a>
                                <p>休闲</p>   
                             </span>                                         
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/yy0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/yy1.png" alt=""></a>
                                <p>音乐</p>   
                             </span>                             
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/yd0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/yd1.png" alt=""></a>
                                <p>阅读</p>   
                             </span>                                                            
                          </div>
                          <div class="col-25">
                            <a href="#" class="lightHourseOpen"><img src="/image/home/qjsw.png" alt=""></a>
                            <p>起居室卫</p>
                          </div>
                          <div class="col-75 lightingBtn">
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全开</p>   
                             </span>
                             <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>全关</p>   
                             </span>                             
                            <span class="">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/my0.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/my1.png" alt=""></a>
                                <p>沐浴</p>   
                             </span>                               
                          </div>
                        </dd>                        

                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#" class="item-link smart-select smart-select-init"   >
                                <select name="Airconditioner">
                                    <option value="0" selected="selected">空调1</option>
                                    <option value="1" >空调2</option>
                                </select>
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">空调控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row conditionerDD">
                            <div class="conditionerControl1 row">
                               <span class="col-50 wd_conditioner"><i>26</i> <sup>°C</sup><label>设置温度</label></span>
                               <span class="col-50" >
                                   <p class="conditioner_view_p1">
                                    <i class="iconfont icon-app_fs selectFontWhite"></i>
                                    <em class="app_fs_1" windSpeedIndex="1"></em>
                                    <em class="app_fs_2" windSpeedIndex="2"></em>
                                    <em class="app_fs_3" windSpeedIndex="3"></em>
                                    <em class="app_fs_4" windSpeedIndex="4"></em>
                                    <em class="app_fs_5" windSpeedIndex="5"></em>  
                                    <em class="app_fs_6" style="width: 0;font-style: normal;" windSpeedIndex="6">自动</em>
                                    </p>
                                    <p class="conditioner_view_p2">
                                        <i class="iconfont icon-app_zl" aircondiIndex="1"></i>
                                        <i class="iconfont icon-app_zr" aircondiIndex="2"></i>
                                    <i class="iconfont icon-app_fs selectFontWhite" aircondiIndex="3"></i>
                                        <i class="iconfont icon-app_auto" aircondiIndex="4"></i>
                                    </p>
                               </span>
                            </div>
                            <div class="conditionerControl2 row">
                                <div class="">
                                <a href="#" class="kt_Open"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="kt_Close displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_wdzd"><img src="/image/home/d_sw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_wdjx"><img src="/image/home/d_jw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_jw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_fstd"><img src="/image/home/d_fs_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_fs_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_msqh"><img src="/image/home/d_msqh_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_msqh_1.png" alt=""></a>
                                </div>
                            </div>
                        </dd>                        
                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#">
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">空调控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row soundControlDD">
                            <div class="soundControl1 col-60 row no-gap">
                                <div class="col-33">
                                <a href="#" class="yy_prev"><img src="/image/home/d_prev_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_prev_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy_play"><img src="/image/home/d_play_0.png" alt=""></a>
                                <a href="#" class="yy_stop displayNone"><img src="/image/home/d_play_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy_next"><img src="/image/home/d_next_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_next_1.png" alt=""></a>
                                </div>                                                                
                            </div>
                            <div class="soundControl2 col-35 row no-gap"> 
                                <div class="col-50">
                                <a href="#" class="yy_yljx"><img src="/image/home/d_sound_js_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sound_js_1.png" alt=""></a>
                                </div>
                                <div class="col-50">
                                <a href="#" class="yy_ylzd"><img src="/image/home/d_zj_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_zj_1.png" alt=""></a>
                                </div>                                
                            </div>
                        </dd>                          
                        <dt class="homeDeatilstitle list simple-list">
                             <a href="#" class="item-link smart-select smart-select-init"   >
                                <select name="curtains">
                                    <option value="0" selected="selected">窗帘1</option>
                                    <option value="1" >窗帘2</option>
                                </select>
                                <div class="item-content" style="height: 100%;padding-left: 0;">
                                    <div class="item-media"><i class="leftRectangle"></i></div>
                                    <div class="item-inner" style="margin-left: 0;">
                                        <div class="item-title" style="margin-left: 0;">窗帘控制</div>
                                    </div>
                                </div>
                            </a>
                        </dt>
                        <dd class="row curtainsDD">
                            <div class="curtainsControl1 col-33">
                                <a href="#" class="cl_close"><img src="/image/home/d_curtains_close0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_close1.png" alt=""></a>
                                <p>关闭</p></div>
                            <div class="curtainsControl2 col-33">
                                <a href="#" class="cl_stop"><img src="/image/home/d_tz_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_tz_1.png" alt=""></a>
                                <p>停止</p></div>
                            <div class="curtainsControl3 col-33">
                                <a href="#" class="cl_open"><img src="/image/home/d_curtains_open0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_open1.png" alt=""></a>
                                <p>打开</p></div>                            
                        </dd>                                                                                
                    </dl>
                </section>

        </div>
    </div>
