
    <div data-page="homeDeatils" class="page" id="homeDeatils">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"><a href="#" class="back link"><i class="iconfont icon-backAPP"></i></a></div>
                <div class="center sliding title guestRoomTitle">房间管理</div>
                <div class="right"></div>
            </div>
        </div>        
        <div id="homeDeatils_content" class="page-content">         
               <div class="homeDeatils_setBg">
               <div class="row homeHeaderDetalisList">
                    <div class="col-75 row">
                        <span class="hourseName positionCenter">客房 201</span>
                    </div>
                    <div class="col-25"><i class="iconfont icon-peopleNone positionCenter" style="color: #6B93FA;"></i></div>
                </div>
                </div>
                <section class="homeDeatilsContext">
                    <dl>
                        <dt class="homeDeatilstitle"><i class=""></i>灯光控制</dt>
                        <dd class="row lightingDD">
                            <div class="lightingControl1 col-40">
                                <a href="#" class="lightHourseOpen"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="lightHourseClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>房间</p>
                            </div>
                            <div class="lightingControl2 col-40">
                               <a href="#" class="lightWcOpen"><img src="/image/home/d_close.png" alt=""></a>
                               <a href="#" class="lightWcClose displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                <p>厕所</p>
                            </div>
                            <div class="col-20" style="opacity: 0;"></div>
                        </dd>
                        <dt class="homeDeatilstitle"><i class=""></i>空调控制</dt>
                        <dd class="row conditionerDD">
                            <div class="conditionerControl1 row no-gap">
                               <span class="col-50 wd_conditioner"><i>26</i> <sup>°C</sup><label>设置温度</label></span>
                               <span class="col-50" style="padding-left: 20px;">
                                   <p class="conditioner_view_p1">
                                    <i class="iconfont icon-app_fs selectFontWhite"></i>
                                    <em class="app_fs_1" windSpeedIndex="1"></em>
                                    <em class="app_fs_2" windSpeedIndex="2"></em>
                                    <em class="app_fs_3" windSpeedIndex="3"></em>
                                    <em class="app_fs_4" windSpeedIndex="4"></em>
                                    <em class="app_fs_5" windSpeedIndex="5"></em>  
                                    <em class="app_fs_6" style="width: 0;font-style: normal;" windSpeedIndex="6">自动</em>
                                    </p>
                                    <p class="conditioner_view_p2">
                                        <i class="iconfont icon-app_zl" aircondiIndex="1"></i>
                                        <i class="iconfont icon-app_zr" aircondiIndex="2"></i>
                                    <i class="iconfont icon-app_fs selectFontWhite" aircondiIndex="3"></i>
                                        <i class="iconfont icon-app_auto" aircondiIndex="4"></i>
                                    </p>
                               </span>
                            </div>
                            <div class="conditionerControl2 row">
                                <div class="">
                                <a href="#" class="kt_Open"><img src="/image/home/d_close.png" alt=""></a>
                                <a href="#" class="kt_Close displayNone"><img src="/image/home/d_open.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_wdzd"><img src="/image/home/d_sw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_wdjx"><img src="/image/home/d_jw_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_jw_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_fstd"><img src="/image/home/d_fs_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_fs_1.png" alt=""></a>
                                </div>
                                <div class="">
                                <a href="#" class="kt_msqh"><img src="/image/home/d_msqh_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_msqh_1.png" alt=""></a>
                                </div>
                            </div>
                        </dd>                        
                        <dt class="homeDeatilstitle"><i class=""></i>音乐控制</dt>
                        <dd class="row soundControlDD">
                            <div class="soundControl1 col-60 row no-gap">
                                <div class="col-33">
                                <a href="#" class="yy_prev"><img src="/image/home/d_prev_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_prev_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy_play"><img src="/image/home/d_play_0.png" alt=""></a>
                                <a href="#" class="yy_stop displayNone"><img src="/image/home/d_play_1.png" alt=""></a>
                                </div>
                                <div class="col-33">
                                <a href="#" class="yy_next"><img src="/image/home/d_next_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_next_1.png" alt=""></a>
                                </div>                                                                
                            </div>
                            <div class="soundControl2 col-35 row no-gap"> 
                                <div class="col-50">
                                <a href="#" class="yy_yljx"><img src="/image/home/d_sound_js_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_sound_js_1.png" alt=""></a>
                                </div>
                                <div class="col-50">
                                <a href="#" class="yy_ylzd"><img src="/image/home/d_zj_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_zj_1.png" alt=""></a>
                                </div>                                
                            </div>
                        </dd>                          
                        <dt class="homeDeatilstitle"><i class=""></i>窗帘控制</dt>
                        <dd class="row curtainsDD">
                            <div class="curtainsControl1 col-33">
                                <a href="#" class="cl_close"><img src="/image/home/d_curtains_close0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_close1.png" alt=""></a>
                                <p>关闭</p></div>
                            <div class="curtainsControl2 col-33">
                                <a href="#" class="cl_stop"><img src="/image/home/d_tz_0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_tz_1.png" alt=""></a>
                                <p>停止</p></div>
                            <div class="curtainsControl3 col-33">
                                <a href="#" class="cl_open"><img src="/image/home/d_curtains_open0.png" alt=""></a>
                                <a href="#" class="displayNone"><img src="/image/home/d_curtains_open1.png" alt=""></a>
                                <p>打开</p></div>                            
                        </dd>                                                                                
                    </dl>
                </section>

        </div>
    </div>
