    <div data-page="notice" class="page" id="notice">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left auth_name_get">
            </div>                                      
            <div class="center sliding title"></div>
            <div class="right">
                <a href="/userList/" class="link icon-only"><i class="iconfont icon-conversation"></i></a>
            <a href="/initSet/" class="link icon-only"><i class="iconfont icon-appSet"></i></a>              
            </div>
        </div>
    </div>      
        <div id="notice_content" class="page-content">
        <div class="row homeHeaderList">
            <div class="col-30 uploadImg">
                <a href="#">
                    <img alt="" src="/image/ic_launcher.png"/>
                </a>
            </div>
            <div class="col-45 row confirmation noticeConfirm">
                <p class="col-100"></p>
                <div class="row">
                    <p class="toBeComfirmContainer" style="text-align: left;font-size: 14px;">
                         <a href="/notice/">
                         <span>待确认</span>
                         <label class="toBeComfirm">0</label>
                         </a>
                    </p>
                    <p></p>
                    <p class="ComfirmContainer" style="text-align: left;font-size: 14px;">
                        <span>已确认</span>
                        <label>0</label>
                    </p>
                    </div>
            </div>
            <div class="col-25 isImg">
                <a href="#">
                    <img alt="" src="/image/home/kf.png"/>
                </a>
            </div>
        </div>
        <section class="messageSection">
            <div class="list media-list">
                <ul class="row noticeInfoList ">
                   
                </ul>                
            </div>
        </section>
        <div class="alertMSG">
            <div class="alertMSG_context">
                <img src="/Image/notice/noticeDetails.png" alt="">
                <div class="alertMSG_text">
                    <p class="row">
                        <span class="col-50 msgFloor">楼层: <label>18</label></span>
                        <span  class="col-50 msgPosition">位置: <label>18</label></span>
                    </p>
                    <p class="row">
                        <span class="col-100 msgCallTime">时间: <label>2018/07/02 15:00</label></span>
                      
                    </p>
                    <p class="msg_tooip">呼叫服务人员<b>请确认后立即前往处理</b></p>
                     
                     <a href="#" class="msg_comfig">确认通知</a>
                </div>
                <a href="#" class="msg_close"><i class="iconfont icon-app_close"></i></a>
            </div>
        </div>
        </div>
    </div>
