<div class="page Record" data-page="Record" id="Record">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back"></i>
                    </a>
                </div>
            <div class="center sliding title infoUserName">
                聊天记录
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="RecordContainer">
             我是聊天记录
        </div>
    </div>
</div>
