<div class="page shortMessage" data-page="shortMessage" id="shortMessage">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back"></i>
                    </a>
                </div>
            <div class="center sliding title infoUserName">
                信息交流
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="#">
                    <i class="iconfont icon-caidan">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="shortContainer">
           <header>
              <ul class="list">

              </ul>           
           </header>
           <section class="">
               
           </section>
           <footer class="row">
              <input type="text" value="" placeholder="输入发送信息" class="inputInfo col-70" id="inputInfo"/> <button class="button button-fill button-round buttonSend col-30">发送</button>
           </footer>
           <br><br>
           <a href="/Record/" >我是记录</a>
        </div>
    </div>
</div>
