<div class="page shortMessage" data-page="shortMessage" id="shortMessage">
    <div class="navbar " >
        <div class="navbar-inner ">
            <div class="left">
              <a href="#" class="link back shortMessageBack"><i class="iconfont icon-backAPP"></i></a>
            </div>                                      
            <div class="center sliding title auth_name_msg">信息</div>
            <div class="right">
                       
            </div>
        </div>
    </div>      
    <div class="page-content" style="padding-bottom: 0!important">
        <div class="shortContainer">
           <section class="">
               
           </section>
           <footer class="row footerContainer">
              <input type="text" value="" placeholder="输入发送信息" class="inputInfo col-80" id="inputInfo"/> <button class="buttonSend col-20"><i class="iconfont icon-app_send"></i></button>
           </footer>
           <br><br>
         
        </div>
    </div>
</div>
