<div class="page userList" data-page="userList" id="userList">
  <div class="navbar">
    <div class="navbar-inner">
 <div class="left">
              <a href="#" class="link back"><i class="iconfont icon-back"></i></a>
            </div>       
       <div class="center sliding title auth_name_msg">发起会话</div>

      <div class="subnavbar">
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">取消</span>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="page-content" >
      <div class="userListDetails" style="position: relative;top: 44px;padding-bottom: 60px;text-align: left;">
            <div class="searchbar-backdrop"></div>
            <div class="list searchbar-found userlistContainer contacts-list">
           <div class="list-group userListView">
            <ul >
              <!-- <li class="list-group-title" data-index="A">A</li> -->
            </ul>
          </div>
          <!-- <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="B">B</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="C">C</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="D">D</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="E">E</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="F">F</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="G">G</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="H">H</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="I">I</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="J">J</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="K">K</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="L">L</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="M">M</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="N">N</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="O">O</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="P">P</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="Q">Q</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="R">R</li>
            </ul>
          </div>
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="S">S</li>
            </ul>
          </div>                                                                                                                                              
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="T">T</li>
            </ul>
          </div>  
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="U">U</li>
            </ul>
          </div> 
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="V">V</li>
            </ul>
          </div> 
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="W">W</li>
            </ul>
          </div> 
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="X">X</li>
            </ul>
          </div> 
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="Y">Y</li>
            </ul>
          </div> 
          <div class="list-group">
            <ul>
              <li class="list-group-title" data-index="Z">Z</li>
            </ul>
          </div>  -->                                                            
              <!-- end -->
            </div>
            <div class="block searchbar-not-found">
              <div class="block-inner">未找到相关用户</div>
            </div>
        </div>
    </div>
</div>
